

#root, .imgcontainer{
  background: #eae9e9!important;
  padding: 10px;
  text-align: center;

}

hr, .imgcontainer{
 
    margin: 0 auto;
    width: 80%;

}

.imgcontainer{
  margin-top: 20px;
  }

.card-img-top{
  width: 80%;
}

#filter{
  background: #ffffff
}

.card-body{
  text-align: left;
}